@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/

* {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-bottom: 10%;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #150513;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #212121;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background-color: #150513;
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  filter: saturate(0.9) brightness(1.1);
}

.gradient {
  height: fit-content;
  z-index: 3;
  width: 100%;
  max-width: 640px;
  background-image: radial-gradient(
      at 27% 37%,
      hsla(215, 98%, 61%, 1) 0px,
      transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 92%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, rgb(90, 252, 252) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, rgb(19, 117, 139) 0px, transparent 50%);
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  filter: blur(95px) brightness(1.1);
  top: 30px;
  opacity: 0.32;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.black_btn {
  @apply rounded-full border border-gray-400 bg-gray-950 py-1.5 px-5 text-white transition-all hover:bg-slate-900 hover:text-white text-center text-sm font-inter flex items-center justify-center;
}

.outline_btn {
  @apply rounded-full border border-gray-400 bg-slate-950 py-1.5 px-5 text-white transition-all hover:bg-black hover:text-gray-400 text-center text-sm font-inter flex items-center justify-center;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-white sm:text-6xl;
}

.desc {
  @apply mt-5 text-lg text-gray-200 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-400 bg-black/40 py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg text-gray-50 font-medium focus:border-gray-200 focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-slate-900/10 backdrop-blur hover:bg-gray-800 flex justify-center items-center cursor-pointer hover:scale-105;
}

.glassmorphism {
  @apply p-6 backdrop-blur rounded-xl bg-black/40;
  /* shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.1)]; */
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-6 p-3 text-sm bg-gradient-to-br border border-gray-500 bg-backg/30 text-gray-100 outline-0;
  filter: brightness(1.6) saturate(0.4);
}

.form_input {
  filter: brightness(1.6) saturate(0.4);
  @apply w-full flex rounded-lg mt-6 p-3 text-sm border-gray-500 border bg-backg/30 text-gray-100 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-gray-50 tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg
    bg-black min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-100 hover:text-gray-500 font-medium;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-lg border border-gray-300 bg-black/30 bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] hover:bg-slate-950/40 w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}
